/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    background-image: url('body4.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat:
}

.panel, .jumbotron{
    background-color: rgba(255, 255, 255, 0.5);
}

a{
    color: #222222;
}

.list-group-item{
    border: none;
}

.optionlist{
    background-color: inherit;
}

.panel-info>.panel-heading {
    background-color: #222222;
    border-color: #222222;
}

.starter{
    margin-top: 15%;
    text-align: center;
    vertical-align: baseline;
}

.sub{
    text-align: center;
}

.opo{
    text-align: center;
}

.container{
    margin-bottom: 40px;
}

.question-head{
    font-size: 8vw;
    font-family: monospace;
    text-decoration: underline;
}

.testnotdone{
 font-weight: bold;
}

footer {
  position:absolute;
    bottom:0px;
    left: 0px;
    height:40px;
    width:100%;
}

h5 {
  text-align: center;
}

.top-buffer {
  margin-top: 20%;
}

/*För att ta ta bort rundade hörn. Kommer ligga på alla
element. Går att justera senare om nödvändigt. */
.navbar {
  border-radius: 0 !important;
}

/*För stående mobil vy. Anpassat efter Iphone 6.*/
@media screen and (max-width: 375px) and (max-height: 667px) {
  .top-buffer {
    margin-top: 13% !important;
  }

  .studentB {
    font-size: 12px !important;
    opacity: 0.9;
  }

  .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
  }

}

/* För desktop small */
@media (min-width:768px) and (max-width:991px){

    .img-responsive {
    max-width: 30%;
    height: auto;
  }
}


/*För desktop vy.*/
@media screen and (min-width: 1365px) and (min-height: 767px) {

}
