/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Sätt lika hög höjd här */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Som här */
  height: 60px;


}

h5 {
  text-align: center;
}

.top-buffer {
  margin-top: 20%;
}

/*För att ta ta bort rundade hörn. Kommer ligga på alla
element. Går att justera senare om nödvändigt. */
.navbar {
  border-radius: 0 !important;
}

/*För stående mobil vy. Anpassat efter Iphone 6.*/
@media screen and (max-width: 375px) and (max-height: 667px) {
  .top-buffer {
    margin-top: 13% !important;
  }



}

/*För desktop vy.*/
@media screen and (max-width: 1365px) and (max-height: 767px) {

}
