template.Fragor = `
<div class="container">
    <div class="jumbotron">
        <h1 class="question-head">Fråga 1:</h1>
        <p class="question">Här är tänkt att det ska bli frågor</p>

        <div class="row">
            <form>
             <div class="col-lg-3">
                  <div class="input-group">
                       <div class="checkbox">
                           <label id="option1"><input type="radio" id="checkbox1" name="option" value="1"> Option 1</label>
                        </div>
                  </div>
             </div>
            <div class="col-lg-3">
                <div class="input-group">
                       <div class="checkbox">
                           <label id="option2"><input type="radio" id="checkbox2" name="option" value="2"> Option 2</label>
                    </div>
                 </div>
              </div>
               <div class="col-lg-3">
                <div class="input-group">
                     <div class="checkbox">
                        <label id="option3"><input type="radio" id="checkbox3" name="option" value="3"> Option 3</label>
                    </div>
                  </div>
               </div>
              <div class="col-lg-3">
                   <div class="input-group">
                       <div class="checkbox">
                        <label id="option4"><input type="radio" id="checkbox4" name="option" value="4"> Option 4</label>
                    </div>
                   </div>
              </div>
            </form>
          </div>

    </div>
</div>

`
