Fragor.addTemplate('default', function(){return `
<div class="container">
    <div class="jumbotron ">
        <h1 class="question-head" id="question-title">Fråga 1:</h1>
        <p class="question">Här är tänkt att det ska bli frågor</p>

        <div class="row">
            <form>
             <div class="col-lg-4">
                  <div class="input-group">
                       <div class="checkbox">
                           <label id="option1"><input type="radio" id="checkbox1" name="option" value="1"> Option 1</label>
                        </div>
                  </div>
             </div>
            <div class="col-lg-4">
                <div class="input-group">
                       <div class="checkbox">
                           <label id="option2"><input type="radio" id="checkbox2" name="option" value="2"> Option 2</label>
                    </div>
                 </div>
              </div>
               <div class="col-lg-4">
                <div class="input-group">
                     <div class="checkbox">
                        <label id="option3"><input type="radio" id="checkbox3" name="option" value="3"> Option 3</label>
                    </div>
                  </div>
               </div>
            </form>
          </div>

    </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-md-4 col-xs-4">
      <button type="button" class="btn btn-default pull-right">Föregående</button>
    </div>

    <div class="col-md-4 col-xs-4">
      <h5>Fråga 1 av 5</h5>
    </div>

    <div class="col-md-4 col-xs-4">
      <button type="button" class="btn btn-default pull-left" >Nästa</button>
    </div>

  </div>

  <div class="row top-buffer">

    <div class="col-md-8 col-xs-6">
      <p>Tid kvar: </p><p id="demo"></p>
    </div>

    <div class="col-md-4 col-xs-6">
      <button type="submit" class="btn btn-default pull-right">Lämna in</button>
    </div>

  </div>
</div>
`});
