Fragor.addTemplate('default', function(){return `
<div class="container">
    <div class="container">
        <div class="jumbotron ">
            <h1 class="question-head" id="question-title"></h1>
            <p class="question"></p>

            <div class="questionoptions"></div>

        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-xs-4">
                <button type="button" data-click="dataclick" class="btn btn-default pull-right">Föregående</button>
            </div>

            <div class="col-md-4 col-xs-4">
                <h5>Fråga 1 av 5</h5>
            </div>

            <div class="col-md-4 col-xs-4">
                <button type="button" data-click = "nextclick" id ="nextbutton" class="btn btn-default pull-left" >Nästa</button>
            </div>

        </div>

        <div class="row top-buffer">

            <div class="col-md-8 col-xs-6">
                <p>Tid kvar: </p><p id="demo"></p>
            </div>

            <div class="col-md-4 col-xs-6">
                <button type="submit" class="btn btn-default pull-right">Lämna in</button>
            </div>

        </div>
    </div>
</div>    
`});
