studentprofile.addTemplate('default', function(){return `
<div class="container">
  
  <!--Edit profile Logout -->
  <div class="row">
    <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
      <A href="edit.html" >Edit Profile</A>

      <A href="edit.html" >Logout</A>
      <br>
      <p class=" text-info">Feb 5,2017,03:00 pm </p>
    </div>
  </div>

  <!--Profilbox -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title teacherName">Student Student</h3>
      </div>
  
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="me.jpg" class="img-circle img-responsive"> 
            </div>
          
        
            <div class= "col-md-9 col-lg-9">
              <table class="table table-user-information">
                  <tbody>
                    <tr>
                        <td>Department:</td>
                        <td>Programming</td>
                    </tr>
                    <tr>
                        <td>Enrollement date:</td>
                        <td>06/23/2013</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>Male</td>
                    </tr>
                    <tr>
                        <td>Home Address</td>
                        <td>Sweden</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>123-4567-890</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>  
        </div>
      </div>
    </div>

    <!--Högerkolumn -->
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
    <h3>Information till studenter</h3>
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">Nytt om Java-kursen</h4>
            <p class="list-group-item-text">Vi har ändrat det mesta i sista stund. Starta om alla dina system och kontakta admin...</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Anmäl dig till nästa tenta</h4>
            <p class="list-group-item-text">Senast det här datumet måste du ha anmält dig till nästa tenta.</p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Gratis fika varje dag</h4>
            <p class="list-group-item-text">Kom till köket och fika hur mycket när du vill! Gäller alla studenter i SYSJM2.</p>
          </a>
        </div>
    </div>
  </div>


<!--Lista över studentents prov-->
  <div class="container">
  <div class = "row">
  <div class = "col-lg-12">
      <h2 class="display">Dina prov</h2>

      <table class="table table-condensed">
        <thead>
            <tr>
                <th>Select</th>
                <th>Number</th>
                <th>Test Name</th>
                <th>Teacher</th>
                <th>Due date</th>

            </tr>
        </thead>

        <tbody>
            <tr>
              <td>
                <input type="checkbox" name="myTextEditBox" value="checked"/>
              </td>
                <td>1</td>
                <td>Intro Test</td>
                <td>Anna Fock</td>
                <td>3 mars</td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="myTextEditBox" value="checked"/>
                </td>
                <td>2</td>
                <td>Math 1</td>
                <td>Anton Olsson</td>
                <td>25 april</td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="myTextEditBox" value="checked"/>
              </td>
                <td>3</td>
                <td>Math 2</td>
                <td>Jon Svensson</td>
                <td>25 januari</td>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>
 
`});
