teacherprofile.addTemplate('default', function(){return `
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">Feb 5,2017,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title teacherName">Farkhod Kholbutayev</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="me.jpg" class="img-circle img-responsive"> </div>


                <div class= "col-md-9 col-lg-9">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Department:</td>
                        <td>Programming</td>
                      </tr>
                      <tr>
                        <td>Hire date:</td>
                        <td>06/23/2013</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Male</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Sweden</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>

                        <td>Phone Number</td>
                        <td>123-4567-890</td>

                      </tr>

                    </tbody>
                  </table>

                  </div>
                  </div>
                  </div>
                  </div>
                  </div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
    <h3>Profile information</h3>


            <p> Here the information about teacher should be included</p>
            <p> Here the information about teacher should be included</p>
            <p> Here the information about teacher should be included</p>
            <p> Here the information about teacher should be included</p>
            <p> Here the information about teacher should be included</p>
            <p> Here the information about teacher should be included</p>
            <p> Here the information about teacher should be included</p>
            <p> Here the information about teacher should be included</p>
            <p> Here the information about teacher should be included</p>

</div>
</div>
</div>
<div class="container">
<div class = "row">

<div class = "col-lg-6">
<h2 class="display"> Students</h2>


<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Add Student</button>
  <button type="button" class="btn btn-default">Delete Student</button>
  <button type="button" class="btn btn-default">Student Profile</button>
</div>
</div>

<div class = "col-lg-6">
<h2 > Tests</h2>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">Add Test</button>
  <button type="button" class="btn btn-default">Delete Test</button>
  <button type="button" class="btn btn-default">Test Profile</button>

</div>
</div>
<div class="row">
	<div class="col-lg-6">
<table class="table table-condensed">
        <thead>
            <tr>
                <th>Select</th>
                <th>Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>

            </tr>
        </thead>

        <tbody>
            <tr>
            	<td>

            <input type="checkbox" name="myTextEditBox" value="checked"/>

            	</td>


                <td>1</td>
                <td>John</td>
                <td>Carter</td>
                <td>johncarter@mail.com</td>
            </tr>
            <tr>
                <td>
                	<input type="checkbox" name="myTextEditBox" value="checked"/>
                </td>
                <td>2</td>
                <td>Peter</td>
                <td>Parker</td>
                <td>peterparker@mail.com</td>
            </tr>
            <tr>
            	<td>
            	<input type="checkbox" name="myTextEditBox" value="checked"/>
            	</td>
                <td>3</td>
                <td>John</td>
                <td>Rambo</td>
                <td>johnrambo@mail.com</td>
            </tr>
        </tbody>
    </table>
        </div>

        <div class="col-lg-6">
<table class="table table-condensed">
        <thead>
            <tr>
                <th>Select</th>
                <th>Number</th>
                <th>Test Name</th>
                <th>Created by</th>
                <th>Email</th>

            </tr>
        </thead>

        <tbody>
            <tr>
            	<td>
            		<input type="checkbox" name="myTextEditBox" value="checked"/>
            	</td>
                <td>1</td>
                <td>Intro Test</td>
                <td>Anna Fock</td>
                <td>af@mail.com</td>
            </tr>
            <tr>
                <td>
                	<input type="checkbox" name="myTextEditBox" value="checked"/>
                </td>
                <td>2</td>
                <td>Math 1</td>
                <td>Anton Olsson</td>
                <td>ao@mail.com</td>
            </tr>
            <tr>
            	<td>
            		<input type="checkbox" name="myTextEditBox" value="checked"/>
            	</td>
                <td>3</td>
                <td>Math 2</td>
                <td>Jon Svensson</td>
                <td>js@mail.com</td>
            </tr>
        </tbody>
    </table>
        </div>

    </div></div>
`});
