testresultat.addTemplate('default', function(){return `
<div class="container">
    <h1>${this.Name}s provresultat</h1>
	
	<div class="panel panel-default">

		<!-- Default panel contents -->
		<div class="panel-heading">Fråga 1</div>
		<div class="panel-body">
			<p>Här är själva frågan. Lorem ipsum dolor sit amet, eu ius mentitum principes moderatius. Mea id malis putant malorum, et vis errem eirmod tincidunt, ius putant tacimates periculis ei?</p>
		</div>

		<!-- List group -->
		<ul class="list-group">
			<li class="list-group-item list-group-item-success">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <!--the user's answer-->
				1. Cras justo odio
			</li>
			<li class="list-group-item">
				x. Dapibus ac facilisis in
			</li>
			<li class="list-group-item">
				2. Morbi leo risus
			</li>
		</ul>

	</div>

	<div class="alert alert-success" role="alert">Du klarade provet! Resultat 25/30.</div>
	<div class="alert alert-danger" role="alert">Du karade inte provet. Resultat 11/30.</div>


</div>
`});